<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Set Active Marking System</title>
</head>
    <a href="{% url 'login' %}"><input type=button value="登录" ></a>
    <a href="{% url 'page_marking' %}"><input type=button value="标记页面" ></a>
    <a href="{% url 'page_marking' %}"><input type=button value="CNN标记页面" ></a>
    <a href="{% url 'hel_metjudge' %}"><input type=button value="头盔标记页面" ></a>
    <a href="{% url 'test' %}"><input type=button value="测试页面" ></a>


</body>
</html>