<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Set Active Marking System</title>
</head>
<body>
    <form id="id_form" method="post">
        <table>
            <tr>
                <td>username:</td>
                <td><input type="text" name="username" size="10" id="id_username"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="password" size="10" id="id_password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Yes"></td>
                <td><input type="reset" value="No"></td>
            </tr>
        </table>
    </form>

</body>
</html>