<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <img id="helmet" src="../static/data_set/safetyHelmet/helmet2.jpeg" alt="helmet" hidden>
    <canvas id="myCanvas" width="1000" height="500" ></canvas>

    <script>
        var c=document.getElementById("myCanvas");
        var ctx=c.getContext("2d");
        var img=document.getElementById("helmet");
        ctx.drawImage(helmet, 10, 10, 856, 480)

        ctx.beginPath();
        ctx.lineWidth="4";
        ctx.strokeStyle="blue";
        {#x, y, width, height#}
        ctx.rect(315,205,50,120);
        ctx.stroke();
    </script>

    <form id="id_form" method="post">
        <table>
            <tr>
                <td><p>头盔标记正确吗吗？</p></td>
            </tr>
            <tr>
                <td>
                    <label><input name="flag" type="radio" value="1" />正确</label>
                    <label><input name="flag" type="radio" value="0" />不正确</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>

</html>
