{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Set Active Marking System</title>
</head>
<body>
    <script>

    </script>
    <table>
        <tr>
            <td>
                <img src="/static/data_set/road_cam/11_00_04.jpg" name="image"/>
            </td>
        </tr>
    </table>
    <form id="id_form" method="post">
        <table>
            <tr>
                <td><p>此时街道拥堵吗？</p></td>
            </tr>
            <tr>
                <td>
                    <label><input name="flag" type="radio" value="" />正确</label>
                    <label><input name="flag" type="radio" value="" />不正确</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>