{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Set Active Marking System</title>
</head>
<body>
    <script>

    </script>
    <table>
        <tr>
            <td>
                <img src="{{ image_push }}" name="image"/>
            </td>
        </tr>
    </table>
    <form id="id_form" method="post">
        <table>
            <tr>
                <td><input type="text" name="pushing_image" style="display:none" value="{{ image_push }}"></td>
            </tr>
            <tr>
                <td><p>这张图片是什么？</p></td>
            </tr>
            <tr>
                <td>
                    <label><input name="flag" type="radio" value="1" />道路</label>
                    <label><input name="flag" type="radio" value="2" />人行道</label>
                    <label><input name="flag" type="radio" value="3" />建筑</label>
                    <label><input name="flag" type="radio" value="4" />树</label>
                    <label><input name="flag" type="radio" value="5" />路标</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>