{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <img id="helmet" src="{{ image_push }}" alt="helmet" hidden>
    <canvas id="myCanvas" width="1000" height="500" ></canvas>

    <script>

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var img = document.getElementById("helmet");

        {#set canvas size#}
        var imgWidth = img.width;
        var imgHeight = img.height;
        canvas.width = imgWidth;
        canvas.height = imgHeight;

        {#draw image#}
        ctx.drawImage(img, 0, 0, imgWidth, imgHeight);

        {#draw rectangle#}
        var x = 0.501042 * imgWidth;
        var y = 0.539583 * imgHeight;
        var width = 0.056250 * imgWidth;
        var height = 0.104167 * imgHeight;
        var x_leftTopPoint = x - width/2;
        var y_leftTopPoint = y - height/2;

        ctx.beginPath();
        ctx.lineWidth = "2";
        ctx.strokeStyle = "blue";
        {#x, y, width, height#}
        ctx.rect(x_leftTopPoint, y_leftTopPoint, width, height);
        ctx.stroke();
    </script>

    <form id="id_form" method="post">
        <table>
            <tr>
                <td><p>头盔标记正确吗吗？</p></td>
            </tr>
            <tr>
                <td>
                    <label><input name="flag" type="radio" value="1" />正确</label>
                    <label><input name="flag" type="radio" value="0" />不正确</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>

</html>
