{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Set Active Marking System</title>
</head>
<body>
    <script>

    </script>
    <img src="/static/data_set/photo_cam1/11_00_04.jpg"/>
    <form id="id_form" method="post">
        <table>
            <tr>
                <td><p>您觉得此时街道拥堵吗？</p></td>
            </tr>
            <tr>
                <td>
                    <label><input name="flag" type="radio" value="" />拥堵</label>
                    <label><input name="flag" type="radio" value="" />不拥堵</label>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>